/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em 0em;
}

.van-filter-button {
  border: 0;
  width: 105px;
  height: 40px;
  background: #ffead0;
  border-radius: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #4d4d4d;
}

.van-filter-button:hover {
  background: #ff8c38;
  color: #fff;
}

.van-filter-clear {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #4d4d4d;
}

.van-filter-clear:hover {
  color: #ff8c38;
  cursor: pointer;
}
